body {
  height: 100vh;
}

.main-content {
  height: calc(100vh - 64px);
  overflow-y: scroll;
}

.col.left-nav {
  margin: 0;
  padding: 0;
}

.left-nav .collection {
  margin: 0;
  border: none;
  border-radius: 0;
}

.left-nav .collection .collection-item {
  border-bottom: none;
}
